body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ddd;
}

.cassette {
  width: 450px;
  height: 300px;
  padding: 15px 25px 0px 25px;
  background-color: #444444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 2px #777777;
}

/* Contenedor de las ruedas superiores */
.ruedas-superiores,
.ruedas-inferiores {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between; /* Alinea las ruedas en los extremos */
}

.ruedas-superiores {
  margin-bottom: 10px;
}

/* Ruedas */
.rueda {
  width: 15px;
  height: 15px;
  background: #999999; /* Color gris claro */
  border-radius: 50%;
}

.ruedas-inferiores .rueda {
  margin-bottom: 15px;
}

.ruedas-superiores .rueda:first-child,
.ruedas-inferiores .rueda:last-child {
  background: #7f7f7f;
}

.cassette > .white-part {
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  border-radius: 10px 10px 0 0;
}

.tape-section {
  width: 100%;
  height: 60%;

  background: linear-gradient(
    to bottom,
    #d81b60 0%,
    #d81b60 20%,
    #e57373 20%,
    #e57373 40%,
    #fbc02d 40%,
    #fbc02d 60%,
    #8bc34a 60%,
    #8bc34a 80%,
    #039be5 80%,
    #039be5 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.tape-container {
  width: 50%;
  height: 65%;
  background: #444444;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tuerca {
  width: 50px;
  height: 50px;
  background: #d3d3d3;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /*transform: rotate(45deg);*/
  animation: rotacionTuerca 3s linear infinite;
}

.agujero {
  width: 15px;
  height: 15px;
  background: #444444;
  border-radius: 50%;
  flex: 0 0 30%;
}

.tape {
  width: calc(60px * 1.1);
  height: 40px;

  background: linear-gradient(to right, #a0522d 40%, #d3d3d3 50%);
}

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.slot {
  width: 70%;
  height: 65px;
  background: #444444;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 5px solid #777777;
}

.hole {
  width: 14px;
  height: 14px;
  margin-top: 10px;
  background: #222222;
  border-radius: 50%;
}

.slot .hole:nth-child(1) {
  margin-left: 60px;
}
.slot .hole:nth-child(2) {
  width: 18px;
  height: 18px;
  margin: 0 20px 10px 0;
}
.slot .hole:nth-child(3) {
  width: 18px;
  height: 18px;
  margin: 0 0 10px 20px;
}
.slot .hole:nth-child(4) {
  margin-right: 60px;
}

@keyframes rotacionTuerca {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
