body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ddd;
}

.cassette {
  width: 450px;
  height: 300px;
  padding: 15px 25px 0px 25px;
  background-color: #444444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 2px #777777;
}

.ruedas-superiores,
.ruedas-inferiores {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.ruedas-superiores {
  margin-bottom: 10px;
}

.rueda {
  width: 15px;
  height: 15px;
  background: #999999;
  border-radius: 50%;
}

.ruedas-inferiores .rueda {
  margin-bottom: 15px;
}

.ruedas-superiores .rueda:first-child,
.ruedas-inferiores .rueda:last-child {
  background: #7f7f7f;
}

.cassette > .white-part {
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  border-radius: 10px 10px 0 0;
}

.tape-section {
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.franjas-centrales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.roja {
  background: #be0974;
  width: 100%;
  height: 25%;
}

.azul {
  background: #46a7c0;
  width: 100%;
  height: 25%;
}

.naranja {
  background: #da6a57;
  width: 100%;
  height: 33.33%;
}

.amarilla {
  background: #eebc31;
  width: 100%;
  height: 33.33%;
}

.verde {
  background: #92a25b;
  width: 100%;
  height: 33.33%;
}

.franjas-izquierda,
.franjas-derecha {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tape-container {
  width: 60%;
  height: 100%;
  background: #444444;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tuerca {
  width: 50px;
  height: 50px;
  background: #d3d3d3;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /*transform: rotate(45deg);*/
  animation: rotacionTuerca 3s linear infinite;
}

.tape-container .izquierda {
  margin-right: 20px;
}
.tape-container .derecha {
  margin-left: 20px;
}

.agujero {
  width: 15px;
  height: 15px;
  background: #444444;
  border-radius: 50%;
  flex: 0 0 30%;
}

.tape {
  width: 15%;
  height: 40px;
  background: #a0522d;
}

.tape-container .tape:nth-child(3) {
  background: #cccccc;
  margin-right: 10px;
}

.tape-container .tape:nth-child(2) {
  margin-left: 10px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.slot {
  width: 70%;
  height: 65px;
  background: #444444;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 5px solid #777777;
}

.hole {
  width: 14px;
  height: 14px;
  margin-top: 10px;
  background: #222222;
  border-radius: 50%;
}

.slot .hole:nth-child(1) {
  margin-left: 60px;
}
.slot .hole:nth-child(2) {
  width: 18px;
  height: 18px;
  margin: 0 20px 10px 0;
}
.slot .hole:nth-child(3) {
  width: 18px;
  height: 18px;
  margin: 0 0 10px 20px;
}
.slot .hole:nth-child(4) {
  margin-right: 60px;
}

@keyframes rotacionTuerca {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
